n8n/workflows/ai-content-generation.json
{
  "name": "AI Content Generation Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-content",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "content-webhook",
      "name": "Content Generation Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "generate-content"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.prompt }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "condition-2",
              "leftValue": "={{ $json.provider }}",
              "rightValue": "openai",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-openai",
      "name": "Check OpenAI Request",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "={{ $json.model || 'gpt-4' }}",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a helpful AI assistant that generates high-quality content for social media and marketing purposes."
            },
            {
              "role": "user",
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {
          "temperature": "={{ $json.temperature || 0.7 }}",
          "maxTokens": "={{ $json.max_tokens || 1000 }}"
        }
      },
      "id": "openai-chat",
      "name": "OpenAI Chat Completion",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "create",
        "model": "={{ $json.model || 'claude-3-sonnet-20240229' }}",
        "message": "={{ $json.prompt }}",
        "options": {
          "max_tokens": "={{ $json.max_tokens || 1000 }}",
          "temperature": "={{ $json.temperature || 0.7 }}"
        }
      },
      "id": "anthropic-message",
      "name": "Anthropic Message",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"content\": $json.choices[0].message.content, \"provider\": \"openai\", \"model\": $json.model, \"usage\": $json.usage } }}"
      },
      "id": "openai-response",
      "name": "OpenAI Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"content\": $json.content[0].text, \"provider\": \"anthropic\", \"model\": $json.model, \"usage\": $json.usage } }}"
      },
      "id": "anthropic-response",
      "name": "Anthropic Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Invalid provider. Supported providers: openai, anthropic\" } }}"
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 500]
    }
  ],
  "connections": {
    "Content Generation Request": {
      "main": [
        [
          {
            "node": "Check OpenAI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check OpenAI Request": {
      "main": [
        [
          {
            "node": "OpenAI Chat Completion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Anthropic Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Completion": {
      "main": [
        [
          {
            "node": "OpenAI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Message": {
      "main": [
        [
          {
            "node": "Anthropic Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "ai-content-generation",
  "tags": ["ai", "content", "generation", "openai", "anthropic"]
}
